.main__container--dark {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  color: white;
  background: url("../../images/bg-image-nighttime.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--my-font-family);
}

.top__half--container {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.top__half__clock--container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.top__half__clock--container div {
  margin-left: 10rem;
}

.top__half__clock__container__greeting--container {
  display: flex;
  align-items: center;
}

.top__half__clock__container__greeting--text {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.4rem;
  padding-left: 1.5rem;
}

.top__half__clock__container__greeting--sun {
  font-size: 2.4rem;
  margin-left: -3rem;
}

.top__half__clock__container__time--container {
  display: flex;
  align-items: center;
  margin-bottom: -1rem;
}

.top__half__clock__container--currentTime {
  font-size: 17rem;
  margin-left: -2rem;
  margin-top: 2rem;
}

.top__half__clock__container--timeZone {
  font-size: 3rem;
  font-weight: bolder;
  padding-top: 11rem;
}

.top__half__clock__less--container {
  display: flex;
  justify-content: space-between;
}

.top__half__clock__less__container--location {
  font-size: 2.4rem;
  font-weight: 600;
  margin-left: -2rem;
  letter-spacing: 0.45rem;
}

.top__half__clock__less__container__dark--dropdown {
  background-color: white;
  width: 14.6rem;
  height: 5.6rem;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10rem;
  margin-top: 0rem;
  padding-left: 0.5rem;
}

.top__half__clock__less__container__dark--text {
  background: none;
  border: none;
  font-size: 1.6rem;
  color: black;
  font-weight: 600;
  letter-spacing: 0.4rem;
}

.top__half__clock__less__container__dark--button {
  background: none;
  font-size: 5rem;
  padding-top: 1rem;
  cursor: pointer;
  color: black;
}

.more__clock--container {
  background-color: black;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  opacity: 0.7;
}

.more__clock--container div {
  display: flex;
  flex-direction: column;
  margin-left: 8rem;
  margin-top: 3rem;
}

.more__clock--container p {
  font-size: 1.5rem;
}

.more__clock--container h1 {
  font-size: 5.6rem;
}

.more__clock__container--dayinfo p,
h1 {
  padding-bottom: 2rem;
}

.more__clock__container--weekinfo p,
h1 {
  padding-bottom: 2rem;
}

/* Styles for tablet */
@media (min-width:481px) and (max-width: 768px) {
  .top__half--container {
    margin-top: 1.5rem;
  }

  .top__half__clock--container div {
    margin-left: 1.5rem;
  }

  .top__half__clock--container--currentTime {
    font-size: 8rem;
    margin-left: -1rem;
    margin-top: 1rem;

  }

  .top__half__clock__container--currentTime {
    font-size: 6rem;
    text-align: center;
  }

  .top__half__clock__container--timeZone {
    font-size: 1.8rem;
    padding-top: 7rem;
  }

  .top__half__clock__less__container__location {
    font-size: 1.6rem;
    margin-left: -1rem;
  }

  .top__half__clock__less__container__dark--dropdown {
    width: 10rem;
    height: 4rem;
    margin-right: 3rem;
  }

  .top__half__clock__less__container__dark--text {
    font-size: 1.4rem;
  }

  .top__half__clock__less__container__dark--button {
    font-size: 3.5rem;
  }

  .more__clock--container div {
    margin-left: 5rem;
    margin-top: 2rem;
  }

  .more__clock--container p {
    font-size: 1.2rem;
  }

  .more__clock--container h1 {
    font-size: 4rem;
  }

  .more__clock__container--dayinfo p,
  .more__clock__container--weekinfo p {
    padding-bottom: 1rem;
  }
}

/* Styles for mobile */
@media (max-width: 480px) {

  .top__half--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    position: relative;
  }

  .top__half__clock--container div {
    margin-left: 1rem;
  }

  .top__half__clock--container .top__half__clock__less--container {
    position: absolute;
    bottom: -1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .top__half__clock__container__time--container {
    display: flex;
    justify-content: center;
  }

  .top__half__clock__container--currentTime {
    font-size: 6rem;
    margin-left: -1rem;
    margin-top: 0.5rem;
  }

  .top__half__clock__container--timeZone {
    font-size: 2rem;
    padding-top: 5rem;
    margin-top: -1.7rem;
  }

  .top__half__clock__less__container__location {
    font-size: 1.4rem;
    margin-left: -1rem;
  }

  .top__half__clock__less__container--location {
    letter-spacing: 0.2rem;
    font-size: 1.6rem;
    margin: 0;
  }

  .top__half__clock__container__greeting--text {
    text-align: center;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    letter-spacing: 0.3rem;
  }

  .top__half__clock__container__greeting--text svg {
    font-size: 6rem;
  }

  .top__half__clock__container--currentTime {
    font-size: 6rem;
  }

  .top__half__clock__container__greeting--text {
    padding: 0;
  }

  .top__half__clock__less__container__dark--dropdown {
    width: 7.5rem;
    height: 4rem;
    margin-right: 2rem;
  }

  .top__half__clock__less__container__dark--text {
    font-size: 1.6rem;
    letter-spacing: 0;
    margin-left: 0.5rem;
  }

  .top__half__clock__less__container__dark--button {
    font-size: 3rem;
  }

  .more__clock--container div {
    margin-left: 3rem;
    margin-top: 1rem;
  }

  .more__clock--container p {
    font-size: 1rem;
  }

  .more__clock--container h1,
  .more__clock__container--weekinfo h1 {
    font-size: 2.5rem;
  }

  .more__clock__container--dayinfo p,
  .more__clock__container--weekinfo p {
    padding-bottom: 0.5rem;
  }
}