*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

:root {
    --my-font-family: "Montserrat";
}

html,
body {
    font-size: 10px;
    font-family: var(--my-font-family);
    overflow-x: hidden;
}