.main__container__weather {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 1rem 0 1rem;

    p {
        margin: 0;
        align-items: center;
    }

    .weather_description {
        display: flex;
        align-items: center;
        height: 2.2rem;
    }
}

.weather--input {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 15px;
    width: 10%;
    border: 1px solid lightgray;
    border-radius: 6px;
    font-size: 16px;
    text-align: center;

    &:focus {
        outline: none;
    }
}

@media (max-width: 600px) {
    .weather--input {
        width: 80%;
        margin:1rem 1rem;
    }
    .main__container__weather{
        padding-top:7rem;
    }
        .main__container__weather p{
            font-size: 1.3rem;
        }
    .top__half--container .main__container__weather{
        padding-top: 3rem;
    }
}

@media (min-width: 601px) and (max-width: 992px) {
    .weather--input {
        width: 50%;
    }

}   