*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  
}

html,body {
  margin:0;
  padding: 0;
  color:red;
  opacity: 1;
  background: url("./images/bg-image-daytime.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}
.root {
  width: 100vh;
  height: 100vh;
 
}
.App{
  height: 100vh;
  width: 100vh;
  
  
}
.main__container {
  display: flex;
  flex-direction: column-reverse;
  flex-shrink: 1;
  height:100%;
  width: 100%;
  
}
.header{
  font-size:18px;
  line-height: 28px;
  font-family: 'Inter', sans-serif;
  max-height: 50%;
  max-width: 50%;
  position: absolute;
  top:5%;
  left: 10%; 
}
.header__quote{
  display:flex;
  align-items: center;
}
.header__button {
  background: none;
  border: none;
  font-size: 20px;
  font-weight:600;
  cursor:pointer;
  position:absolute;
  left:102%;
  top:4%;
}
.header__author{
  margin-top:1rem;
}
.main{
  height: 50%;
  width:100%;
}

.main__clock--container{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom:5%;
  left:10%;
  height: 50%;
  width: 50%;
}
.main__clock__container__greeting--container{
  display: flex;
  align-items: center;
  position: relative;
  
}
.main__clock__container--greeting{
 font-size: 20px;
 letter-spacing: 4px;
 position:relative;
 top: 55%;
 
}
.main__clock__container--greeting--sun{
  margin-right:20px;
  font-size:24px;
  position: relative;
  top:50%;
  
}
.main__clock__container__time--container{
  display:flex;
  align-items: center;
  position: relative;
}
.main__clock__container--currentTime{
  margin: 0;
  font-size:200px;
  font-family: 'Inter' sans-serif;
  position: relative;
  top:30%;
  left:-3%;
}
.main__clock__container--timeZone{
  font-size:30px;
  font-weight:bolder;
  position:relative;
  top:56%;
  left:-2%;
}
.main__clock__container--location{
  position:relative;
  bottom:-15%;
  font-size: 24px;
  letter-spacing: 4.5px;
}

.more__container--dropdown {
  background-color: white;
  width:146px;
  height:56px;
  position:absolute;
  bottom:7%;
  right:10%;
  border-radius: 40px;
  
}
.more__container--text{
  background: none;
  border: none;
  font-size: 16px;
  position:absolute;
  bottom:32%;
  right:42%;
  color:black;
  font-weight: 600;
  letter-spacing: 5px;
  font-family: 'Inter'sans-serif;
}
.more__container__dropdown--button{
  position: absolute;
  background: none;
  border:none;
  font-size:40px;
  right:10%;
  bottom:-2%;
  cursor: pointer;
}
.click__more--container{
  margin-top:3rem;
  background-color: #979797;
  height: 50%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  bottom:-7%;
  color:black;
  font-family: 'Inter' sans-serif;
}


