.weather--container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:25px;
}
.weather--input{
    padding:15px;
    width: 80%;
    margin: auto;
    border:1px solid lightgray;
    border-radius: 6px;
    font-size: 16px;
}
.weather--input:focus{
    outline: none;
}