*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

:root {
  --my-font-family: "Montserrat";
}

html,
body {
  font-size: 10px;
  font-family: var(--my-font-family);
  overflow-x: hidden;
}

.main__container__dark {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  color: white;
  background: url("../images/bg-image-nighttime.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  font-size: 1.8rem;
  font-weight: regular;
  line-height: 2.8rem;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.header__quote {
  display: flex;
  max-width: 50%;
  align-items: center;
}

.header__button {
  background: none;
  border: none;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
  margin-top: -2.5rem;
  padding-left: 1rem;
}

.header__author {
  padding-top: 1rem;
}

.main__container__dark header p {
  margin-left: 10rem;
}

.main__clock--container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.main__clock--container div {
  margin-left: 10rem;
}

.main__clock__container__greeting--container {
  display: flex;
  align-items: center;
}

.main__clock__container--greeting {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.4rem;
  padding-left: 1.5rem;
}

.main__clock__container--greeting--sun {
  font-size: 2.4rem;
  margin-left: 0rem;
}

.main__clock__container__time--container {
  display: flex;
  align-items: center;
}

.main__clock__container--currentTime {
  font-size: 17rem;
  margin-top: 2rem;
}

.main__clock__container--timeZone {
  font-size: 3rem;
  font-weight: bolder;
  margin-top: -2rem;
  margin-left: 1rem;
}

.more__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.more__container--location {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.45rem;
}

.more__container__dark--dropdown {
  background-color: white;
  width: 14.6rem;
  height: 5.6rem;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more__container__dark--text {
  background: none;
  border: none;
  font-size: 1.6rem;
  color: black;
  letter-spacing: 0.4rem;
  font-weight: 600;
}

.more__container__dark__dropdown--button {
  background: none;
  font-size: 5rem;
  padding-top: 1rem;
  cursor: pointer;
  color: black;
}

/* Media queries for tablet */
@media (max-width: 768px) {
  .header__quote {
    max-width: 80%;
    margin: 0 auto;

  }

  .header__button {
    font-size: 1.6rem;
    /* Adjusted font size for tablets */
    margin-top: 0.5rem;
    /* Adjusted margin for the button */
    padding-left: 0.5rem;
    vertical-align: top;
  }

  .main__container__dark header p {
    margin-left: 1.5rem;
    font-size: 1.4rem;
    /* Adjusted font size for tablets */
  }

  .main__clock--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1.5rem;
  }

  .main__clock--container div {
    margin-left: 0.5rem;
  }

  .main__clock__container--currentTime {
    font-size: 8rem;
    margin-top: 1rem;
  }

  .main__clock__container--timeZone {
    font-size: 1.4rem;
    margin-top: 0;
    margin-left: 0.5rem;
  }

  .header__author {
    max-width: 80%;
    margin: 0.5rem auto 0;
    /* Adjusted margin for the author */
  }
}

/* Media queries for mobile */
@media (max-width: 480px) {
  .header__quote {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  .header__button {
    font-size: 1.4rem;
    /* Adjusted font size for mobile */
    /* Adjusted margin for the button */
    padding-left: 0.5rem;
    vertical-align: top;
  }

  .main__container__dark header p {
    display: flex;
    font-size: 1.5rem;
    /* Adjusted font size for mobile */
  }

  .main__clock--container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1rem;
    text-align: center;
  }

  .main__clock--container div {
    margin-left: 0;
    margin-top: 0.3rem;
  }

  .main__clock__container--currentTime {
    font-size: 6rem;
    margin-top: 0.3rem;
  }

  .main__clock__container--timeZone {
    font-size: 3rem;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
    padding-top: 2rem;
  }

  .main__clock__container--greeting {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-items: center;
  }
}