*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

:root {
  --my-font-family: "Montserrat";
}

html,
body {
  font-size: 10px;
  overflow-x: hidden;
  
}

.main__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  color: white;
  background: url("../images/hendrik-kespohl-1YQDhLtB9yU-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position-y: 10%;
}

.header {
  font-size: 1.8rem;
  font-weight: regular;
  line-height: 2.8rem;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.header__quote {
  display: flex;
  max-width: 50%;
  align-items: center;
  padding-top: 6rem;
}

.header__button {
  background: none;
  border: none;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
  margin-top: -2.5rem;
  padding-left: 1rem;
}

.header__author {
  padding-top: 1rem;
}

.header p {
  margin-left: 10rem;
}

.main__clock--container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.main__clock--container div {
  margin-left: 10rem;
}

.main__clock__container__greeting--container {
  display: flex;
  align-items: center;
}

.main__clock__container--greeting {
  font-size: 2rem;
  letter-spacing: 0.4rem;
  padding-left: 1.5rem;
}

.main__clock__container--greeting--sun {
  font-size: 2.4rem;
}

.main__clock__container__time--container {
  display: flex;
  align-items: center;
}

.main__clock__container--currentTime {
  font-size: 17rem;
  font-family: "Montserrat" sans-serif;
  margin-left: -2rem;
  margin-top: 2rem;
}

.main__clock__container--timeZone {
  font-size: 3rem;
  font-weight: bolder;
  padding-top: 14rem;
}

.more__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.more__container--location {
  font-size: 2.4rem;
  letter-spacing: 0.45rem;
}

.more__container--dropdown {
  background-color: white;
  width: 14.6rem;
  height: 5.6rem;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10rem;
}

.more__container--text {
  background: none;
  border: none;
  font-size: 1.6rem;
  color: #1a4259;
  letter-spacing: 0.4rem;
  font-family: "Montserrat" sans-serif;
  font-weight: 600;
}

.more__container__dropdown--button {
  background: none;
  font-size: 5rem;
  padding-top: 1rem;
  cursor: pointer;
  color: #1a4259;
}